{% extends 'base.html' %}
{% block title %}ژانر ها{% endblock %}
{% load static %}

{% block content %}
    <!-- START: Main -->
    <div class="container container-lg mt-5">
        <div class="row">
            <div class="col-12">
                <h3 class="text-dark title font-weight-bolder mb-2">
                    ژانر های فیلم ها
                </h3>
            </div>
            {% for genre in movie_genres %}
                <div class="col-lg-3 col-md-2 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-content">
                            {% if genre.thumbnail %}
                                <img class="card-img img-fluid height-300" src="{{ genre.thumbnail.url }}"
                                     alt="{{ genre.title }}"/>
                            {% else %}
                                <img class="card-img img-fluid height-300"
                                     src="{% static 'img/image_not_available.jpg' %}" alt="{{ genre.title }}"/>
                            {% endif %}
                            <div class="card-img-overlay overlay-dark d-flex justify-content-between flex-column">
                                <div class="overlay-content">
                                    <h4 class="font-weight-bolder text-white font-large-1">
                                        <a class="text-white"
                                           href="{% url 'movie:genre_movies' genre.slug %}">{{ genre.title }}</a>
                                    </h4>
                                </div>
                                <div class="card-status">
                                    <a class="btn btn-outline-white" href="{% url 'movie:genre_movies' genre.slug %}">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container container-lg mt-5">
        <div class="row">
            <div class="col-12">
                <h3 class="text-dark title font-weight-bolder mb-2">
                    ژانر های سریال ها
                </h3>
            </div>
            {% for genre in series_genres %}
                <div class="col-lg-3 col-md-2 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-content">
                            {% if genre.thumbnail %}
                                <img class="card-img img-fluid height-300" src="{{ genre.thumbnail.url }}"
                                     alt="{{ genre.title }}"/>
                            {% else %}
                                <img class="card-img img-fluid height-300"
                                     src="{% static 'img/image_not_available.jpg' %}" alt="{{ genre.title }}"/>
                            {% endif %}
                            <div class="card-img-overlay overlay-dark d-flex justify-content-between flex-column">
                                <div class="overlay-content">
                                    <h4 class="font-weight-bolder text-white font-large-1">
                                        <a class="text-white"
                                           href="{% url 'movie:genre_series' genre.slug %}">{{ genre.title }}</a>
                                    </h4>
                                </div>
                                <div class="card-status">
                                    <a class="btn btn-outline-white" href="{% url 'movie:genre_series' genre.slug %}">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- END: Main -->

    <!-- START:Theme option -->
    <div class="shadow p-2 customizer" id="theme-option">
        <div class="change-setting shadow cursor-pointer">
            <a href="#" class="font-medium-4">
                <i class="fas fa-cog"></i>
            </a>
        </div>
        <header class="d-flex align-items-center justify-content-between">
            <h4 class="font-weight-normal">تنظیمات قالب</h4>
            <a class="text-dark font-medium-4 close" href="#">
                <i class="far fa-times"></i>
            </a>
        </header>
        <hr/>
        <h5 class="mt-2">طرح قالب</h5>
        <div class="d-flex align-items-center">
            <div class="mr-1">
                <fieldset>
                    <div class="radio">
                        <input
                                type="radio"
                                name="layoutOptions"
                                value="false"
                                id="radio-light"
                                class="layout-name"
                                theme="light"
                                checked=""
                        />
                        <label for="radio-light">روشن</label>
                    </div>
                </fieldset>
            </div>
            <div class="mx-1">
                <fieldset>
                    <div class="radio">
                        <input
                                type="radio"
                                name="layoutOptions"
                                value="false"
                                id="radio-dark"
                                class="layout-name"
                                theme="dark"
                        />
                        <label for="radio-dark">تیره</label>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr/>
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="mt-2">سایه کارت</h5>
            <div class="custom-control custom-switch">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        id="card-shadow"
                        checked
                />
                <label class="custom-control-label" for="card-shadow"></label>
            </div>
        </div>
        <hr/>
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="mt-2">اسکرول به بالا</h5>
            <div class="custom-control custom-switch">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        id="scroll-top"
                        name="scrollTopShow"
                        checked
                />
                <label class="custom-control-label" for="scroll-top"></label>
            </div>
        </div>
        <hr/>
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="mt-2">تمام صفحه</h5>
            <div class="custom-control custom-switch">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        id="fullscreen-option"
                        name="fullscrenn"
                />
                <label class="custom-control-label" for="fullscreen-option"></label>
            </div>
        </div>
        <hr/>
        <h5 class="mt-2">نوع فوتر</h5>
        <div class="d-flex align-items-center">
            <div class="mr-1">
                <fieldset>
                    <div class="radio">
                        <input
                                type="radio"
                                name="footer-option"
                                value="false"
                                class="footer-option"
                                footer="hidden"
                                id="hidden-footer"
                        />
                        <label for="hidden-footer">مخفی</label>
                    </div>
                </fieldset>
            </div>
            <div class="mx-1">
                <fieldset>
                    <div class="radio">
                        <input
                                type="radio"
                                name="footer-option"
                                value="true"
                                class="footer-option"
                                footer="static"
                                id="static-footer"
                                checked
                        />
                        <label for="static-footer">ایستا</label>
                    </div>
                </fieldset>
            </div>
            <div class="mx-1">
                <fieldset>
                    <div class="radio">
                        <input
                                type="radio"
                                name="footer-option"
                                value="false"
                                class="footer-option"
                                id="sticky-footer"
                                footer="sticky"
                        />
                        <label for="sticky-footer">چسبان</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <!-- END:Theme option -->
{% endblock %}